*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f4f7fb;
}

/* NAVBAR */

.navbar{
  background:#04152d;
  color:white;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:15px 60px;
}

.logo-section{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo-icon{
  font-size:40px;
}

.logo-section h2{
  font-size:28px;
}

.logo-section p{
  color:#cfd5e0;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 18px;
  font-weight:bold;
}

nav a:hover{
  color:#2b7cff;
}

/* PROFILE IMAGE */

.profile img{
  width:70px;
  height:70px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid white;
}

/* HERO SECTION */

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:70px;
}

.hero-left{
  width:50%;
}

.hero-left h4{
  color:#2b7cff;
  margin-bottom:20px;
}

.hero-left h1{
  font-size:60px;
  line-height:1.2;
  margin-bottom:20px;
}

.hero-left span{
  color:#2b7cff;
}

.hero-left p{
  font-size:22px;
  color:#555;
  margin-bottom:30px;
  line-height:1.6;
}

.hero-left button{
  background:#2b7cff;
  color:white;
  border:none;
  padding:15px 35px;
  border-radius:8px;
  font-size:18px;
  cursor:pointer;
}

.hero-left button:hover{
  background:#0056d6;
}

.hero-right img{
  width:600px;
}

/* COURSES */

.courses{
  padding:50px;
  text-align:center;
}

.courses h2{
  font-size:45px;
  margin-bottom:50px;
}

.course-container{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.course-card{
  background:white;
  width:350px;

  padding:35px;
  border-radius:15px;

  box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.course-card img{
  width:80px;
  margin-bottom:20px;
}

.course-card h3{
  font-size:28px;
  margin-bottom:20px;
}

.course-card p{
  color:#666;
  line-height:1.6;
  margin-bottom:25px;
}

.course-card button{
  background:#2b7cff;
  color:white;

  border:none;
  padding:12px 30px;

  border-radius:8px;
  cursor:pointer;
}

/* DASHBOARD */

.dashboard-section{
  padding:50px;
}

.dashboard-box{
  background:#eaf2ff;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:40px;
  border-radius:20px;
}

.dashboard-box h3{
  font-size:35px;
  margin-bottom:10px;
}

.dashboard-box p{
  color:#555;
  font-size:18px;
}

.launch-btn{
  background:#2b7cff;
  color:white;

  border:none;
  padding:18px 35px;

  border-radius:10px;
  font-size:18px;
  cursor:pointer;
}
